.header {
  background-color: var(--white);
  padding: 28px 24px 32px 24px;
  border-radius: 5px 5px 0 0;

  &__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.25px;
    color: var(--cyan);
  }

  &__subtitle {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.19px;
    font-weight: bold;
    color: var(--bright-yellow);
  }

    &__paragraph {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: -0.17px;
      color: var(--grayish-blue);
    }

    @media (min-width: 1440px) {
      padding: 40px;

      &__title {
        font-size: 24px;
        letter-spacing: -0.3px;
      }

      &__subtitle {
        font-size: 18px;
        letter-spacing: -0.22px;
      }

      &__paragraph {
        font-size: 1rem;
        letter-spacing: -0.2px;
        line-height: 26px;
      }
    }
}